body {
  font-family: 'Zilla Slab', serif;
  color: white;
  background: rgba(196, 131, 131, 60);
  /*margin-top: 15em;*/
}

.about {
  color: white;
  display: inline;
  margin-left: 5px;
}

.col {
  padding: 3em;
  font-size: 150%;
}

.maindiv {
  height: 442px;
  width: 445px;
  margin-top: 5em;
  background-image: url(./grid.png);
  background-repeat: no-repeat;
}

img {
  width: 50px;
}

.col {
  margin-top: -1em;
  margin-left: -0.5em;
}